:root{
    --primary:              #B33BF0;
    --primary-light:        #C263F3;
    --primary-lighter:      #D591F7;
    --primary-dark:         #A114E9;
    --primary-darker:       #9304DC;

    --secondary:            #F6339E;
    --secondary-light:      #F85DB2;
    --secondary-lighter:    #FA8EC9;
    --secondary-dark:       #F20888;
    --secondary-darker:     #EB0080;

    --ternary:              #7247F0;
    --ternary-light:        #8E6CF4;
    --ternary-lighter:      #B098F8;
    --ternary-dark:         #5422EA;
    --ternary-darker:       #3F0ADE;

    --text-color:           #FFFFFF;
    --subtext-color:        #c3c0c8;
    --header-color:         #292829;
    --body-background:      #141314;
    --card-background:      #fff;
    --border-color:         #454145;
    --button-color:         var(--secondary-dark);
    --footer:               var(--secondary);
    --card-gradient:        linear-gradient(to right bottom, #c263f3, #b15bf2, #9f53f1, #8a4df1, #7247f0);
}