@import "colors.css";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root{
    --padding-section:      150px 0;
    --padding-card:         25px;
    --card-shadow:          0px 3px 24px -5px rgba(0,0,0,0.34);
    font-size: 18px;
    width: 100%;
    overflow-x: hidden;
}
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    background: var(--body-background);
    overflow-x: hidden;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body.app{
    color: var(--text-color);
}

.container{
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Varela Round", Helvetica, Arial, sans-serif;
    color: var(--text-color);
}

h1{
    font-size: 2.8rem;
}

h2{
    font-size: 2.5rem;
}

form div.input{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

form div.input label{
    color: var(--text-color);
    margin: 5px;
}

form div.input input, form div.input textarea{
    padding: 7px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 2px solid transparent;
    box-sizing: border-box;
    font-family: inherit;
}

form div.input.checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

form div.input input:focus, form div.input textarea:focus{
    border: solid 2px var(--secondary);
    outline: none;
}

.horizontal-list{
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.horizontal-list.break{
    flex-wrap: wrap;
}

.horizontal-list > .item{
    width: 30%;
    margin: auto 1.5%;
    position: relative;
    display: block;
}

.artists-list.horizontal-list > .item{
    width: 20%;
    max-width: 180px;
    margin: 10px;
}

.artists-list > .item > a {
    position: relative;
    width: 100%;
    height: 100%;
}


.artists-list > .item > a > .artist-pic{
    width: 100%;
    display: block;
    position: relative;
    padding-top: 100%;
    background-position: center;
    background-size: cover;
}

.artists-list > .item > a > .add-artist{
    background: var(--card-gradient);
}

.artists-list > .item > a > .add-artist > svg{
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}

.card{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--card-background);
    border-radius: 10px;
    padding: var(--padding-card);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.card h3{
    color: var(--ternary);
    margin: 8px;
}

.card p{
    margin: 5px;
}

.card svg{
    text-align: center;
}

.horizontal-list > .item > .card{
    height: 100%;
}

button.btn{
    border:none;
}

.btn{
    outline: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
    border-radius: 500px;
    padding: 10px 20px;
    font-size: 1.2rem;
    display: inline-block;
    margin: 15px;
    transition: box-shadow .2s ease-in-out, transform .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn:hover{
    box-shadow: var(--card-shadow);
    transform: scale(1.1);
}

.btn.primary{
    background-color: var(--secondary);
    color: var(--text-color);
}

.btn.secondary{
    background: #3F0ADE;
    color: var(--text-color);
}

.btn.danger{
    background: #e32221;
    color: white;
}

.btn.outer{
    border-width: 4px;
    border-style: solid;
    background-color: transparent;
}

.btn.primary.outer{
    border-color: var(--secondary);
    color: var(--secondary);
}

.dialog{
    position: relative;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.dialog.error{
    background: var(--secondary);
    color: white;
}

.dialog.success{
    background: #5422EA;
    color: white;
}

h1 span{
    display: block;
    margin-bottom: 25px;
}

h1 span:nth-child(2){
    background-color: var(--text-color);
    color: var(--secondary);
}

header{
    display: flex;
    align-items:center;
}

header .container{
    z-index: 10;
    width: 1280px;
    max-width: 98%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

header .container h1{
    width: 45%;
}

header .container .screenshot{
    width: 45%;
    text-align: center;
}

body.app{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
    overflow: hidden;
}

body.app nav{
    width: 300px;
    background-color: #292829;
    height: 100%;
}

body.app nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body.app nav ul li{
    padding: 5px 0;
}

body.app nav ul li a{
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

body.app main{
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

body.app main form{
    width: 50%;
    max-width: 450px;
}

body.app main table{
    width: 100%;
    position: relative;
}


body.app main table thead{
    background: #EB0080;
    color: white;
}

body.app main table thead tr th{
    padding: 5px;
}

body.app main table tbody tr td{
    padding: 7px;
    font-size: 1rem;
    border-bottom: 1px solid #454145;
}

.tour{
    width: 100%;
    max-width: 450px;
    background: #292829;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
}

.vertical-rows{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.vertical-rows .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.vertical-rows .row .left{
    width: 49%;
}

.vertical-rows .row .right{
    width: 49%;
}

.wave-container.header{
    background: var(--secondary);
}
.wave-container.header .wave{
    background: var(--secondary);
}
.wave-container.header .wave::before{
    background-color: var(--ternary);
}
.wave-container.header .wave::after{
    background-color: var(--secondary);
}

.wave-container.register{
    background: var(--ternary);
    z-index: 0;
}
.wave-container.register .wave{
    background: var(--ternary);
}
.wave-container.register .wave::before{
    background-color: var(--primary-dark);
}
.wave-container.register .wave::after{
    background-color: var(--ternary);
}



/**
Source: https://wweb.dev/resources/css-separator-generator
 */
.wave-container {
    position: relative;
    height: 75vh;
}

.wave {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
}

.wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
}

.wave::before {
    width: 55%;
    height: 109%;
    right: -1.5%;
    top: 60%;
}
.wave::after {
    width: 55%;
    height: 100%;
    left: -1.5%;
    top: 40%;
    z-index: 10;
}

section h2{
    text-align: center;
}

section.register{
    width: 100%;
    padding: var(--padding-section);
    background: var(--ternary);
}

section.register .horizontal-list .item{
    opacity: 0;
}

section.screenshots{
    width: 100%;
    padding: var(--padding-section);
    background: var(--primary-dark);
}

section.screenshots h3{
    color: var(--primary);
}

div.center{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.vertical-rows .row > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-screen{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-screen .content{
    width: 750px;
    max-width: 95%;
    background-color: #292829;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.signin-screen .content .forms{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.signin-screen .content form{
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
}

footer{
    width: 100%;
    position: relative;
    display: inline-block;
    padding: var(--padding-section);

}

footer.home {
    color: var(--text-color);
    background: var(--primary);
}

footer ul {
    list-style-type: none;
}

footer a {
    color: white;
}

section.screenshots .vertical-rows .row .left{
    opacity: 0;
}

section.screenshots .vertical-rows .row .right{
    opacity: 0;
}



@keyframes appearLeft {
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes appearRight {
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes popUp{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

a{
    color: var(--text-color);
    text-decoration: none;
    text-decoration-color: white;
}
a:hover{
    text-decoration: underline;
}
a:focus{
    opacity: 0.5;
    text-decoration: underline;
}
